@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #0367A6,#048ABF);
}
p{
    text-align: justify;
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #047aa8;
    width: 1000px;
    margin: auto;
    padding: 30px;
}
h1{
    color: #0367A6;
    text-align: center;
    text-shadow: 1px 1px 2px #324a5a88;
}
h2{
    color: #F2D3AC;
    text-shadow: 1px 1px 2px #d3b796a6;
}
