@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}


*{
    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--font1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font2);
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 9vw;
}
header > p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3vw;
}
p{
    padding-top: 20px;
    padding-bottom: 20px;
}

.normal{
    background-color: white;
    color: black;
    padding-bottom: 50px;
    padding-top: 50px;
}
.imagem{
    background-color: rgb(39, 38, 38);
    color: white;
    background-size: cover;
    box-shadow: inset 6px 6px 12px 0px rgb(77, 76, 76);
    background-attachment: fixed;
}
.imagem > p{
    background-color: rgba(0, 0, 0, 0.281);
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 0px black;
}
#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}
#img02{
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;

}