@charset "UTF-8";
@font-face {
    font-family: ge;
    src: url('font/JTLeonor-Bold.otf') format("opentype");
}
header{

    
}
.titulo{
    
    text-align: center;
}
div.menu{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

body{
    background-color: white;
}
main{
    background-color: antiquewhite;
    margin: auto;
    padding-top: 10px;
    max-width: 800px;
}
img{
    max-width: 400px;
    display: inline;
}
aside{
    max-width: 250px;
    margin-inline-start: 500px;
}
