@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
   background-image: linear-gradient(to right, #CBB09B, #FFEBD6);
}
p{
    text-align: justify; 
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #ad96849a;
    width: 600px;
    padding: 20px;
    margin: auto;
}
h1{
    color: #423019;
    text-align: center;
    text-shadow: 1px 1px 2px #42301983;
}
h2{
    color: #645746;

}